*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.containerDetail{
    background:purple;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 40px;        
}
.bookCoverDetail{
    max-width: 50%;
    border-radius: 30% 0px 0px 30%;
  
}
.imgTextDetail{
    max-width: 50%;
}

.marcoBookImgDetail{

}
.containerTitleDetail {
    background:purple;
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 40px 0px 0px;
}



.formText{
    max-width: 950px;
    width: 100%;
    display: flex;
   justify-content: flex-end;
}
.imgText{
    display: flex;
    align-items: stretch;
    
}