.containerCreate{
    background: purple;
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 40px 40px 0px 0px;        
}

.containerTitleForm{
    background: purple;
    max-width: 950px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    border-radius: 40px 40px 0px 0px;        
}

.titleForm{
    padding: 20px 0px 17px 60px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
}
.containerCreate{
    display: block;
}

.optionsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.signatura{
    font-size: medium;
    padding: 10px;
    margin: 3% 5% 1%;
    width: 90%;
}
.titol{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
    
}
.autoria{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
}
.descriptors{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
}
.ISBN{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
}
.observacions{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
}

.image{
    font-size: medium;
    padding: 10px;
    margin: 1% 5%;
    width: 90%;
}

.containerBtn{
    display: flex;
    justify-content: center;
}

.btnSend{
    background: #fbffff;
    border-radius: 12px;
    padding: 10px;
    border:none;  
}

.btnSend:hover {
    background-color: #96CDD2;
    color: white;
 
}